{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}

<!--     <ol class="post-list">
        {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol> -->
    <center><strong>
      <div id="counter">
      </div></strong>
    </center>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $.get("https://gcp-resume-challenge-counter-ynluththuq-uc.a.run.app/", function(data, status){
        document.getElementById("counter").innerHTML = "Visit# " + data['total'];
      });
    });
  </script>

{{ partial "footer.html" . }}
