{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}

    <ol class="post-list">
        {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $.get("https://gcp-resume-challenge-counter-ynluththuq-uc.a.run.app/", function(data, status){
      alert("Data: " + data + "\nStatus: " + status);
    });
  });
});
</script>
<button>Send an HTTP GET request to a page and get the result back</button>

{{ partial "footer.html" . }}
